.logo4 {
  position: relative;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.63rem;
  flex-shrink: 0;
}
.vector-icon8 {
  position: relative;
  width: 1.37rem;
  height: 1.2rem;
}
.logo-parent2 {
  align-self: stretch;
  background-color: var(--color-wheat);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: space-around;
  font-size: var(--font-size-xl);
  width: 100%;
}
.home4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: inherit;
}
.home-container {
  width: 24.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.contact-us5 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.contact-us-wrapper {
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 4.81rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.if-you-are {
  position: relative;
  line-height: 2.5rem;
  font-weight: 600;
  display: inline-block;
  width: 20.19rem;
  flex-shrink: 0;
}
.if-you-are-interested-in-purch-wrapper {
  background-color: var(--color-wheat);
  width: 24.38rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-137xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.call-or-whatsapp {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.call-or-whatsapp-wrapper {
  position: absolute;
  top: 2.44rem;
  left: 3rem;
  background-color: var(--color-darkslategray);
  width: 18.38rem;
  height: 3.81rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.say-hello-box-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.38rem;
  height: 23.06rem;
}
.say-hello-box-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-navajowhite);
  position: absolute;
  top: 16.05rem;
  left: calc(50% - 122px);
  border-radius: var(--br-3xs);
  width: 15.31rem;
  height: 3.3rem;
}
.send-message {
  position: absolute;
  top: 17.15rem;
  left: calc(50% - 56px);
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 7.06rem;
  height: 1.1rem;
}
.rectangle-input,
.say-hello-box-child1,
.say-hello-box-inner {
  border: 0;
  background-color: var(--color-wheat);
  position: absolute;
  left: calc(50% - 122px);
  border-radius: var(--br-mid);
  width: 15.31rem;
  height: 2.5rem;
}
.say-hello-box-inner {
  top: 3.07rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-input,
.say-hello-box-child1 {
  top: 6.84rem;
}
.say-hello-box-child1 {
  top: 10.31rem;
  height: 4.63rem;
}
.say-hello-box {
  position: absolute;
  top: 6.94rem;
  left: 0.03rem;
  width: 24.38rem;
  height: 23.06rem;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.ellipse-div {
  position: absolute;
  top: -0.19rem;
  left: calc(50% - 20px);
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 2.5rem;
  height: 2.5rem;
}
.or {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 11px);
  text-transform: capitalize;
}
.ellipse-parent {
  position: absolute;
  top: 5.25rem;
  left: calc(50% - 19.5px);
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
}
.frame-parent1 {
  position: relative;
  width: 24.38rem;
  height: 32rem;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-navajowhite);
}
.peace-residency1 {
  margin: 0;
}
.logo5,
.quick-links2 {
  position: absolute;
  width: 13.25rem;
}
.logo5 {
  top: 1.91rem;
  left: 2.25rem;
  line-height: 2.31rem;
  font-family: var(--font-roboto);
  color: var(--color-navajowhite);
  white-space: pre-wrap;
  display: none;
  height: 4.88rem;
}
.quick-links2 {
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 700;
  display: inline-block;
  height: 2.06rem;
}
.home5 {
  top: 0;
}
.contact-us6,
.donate8,
.expenses5,
.home5,
.vision5 {
  text-decoration: none;
  position: absolute;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: inherit;
}
.vision5 {
  top: 1.5rem;
  display: none;
}
.contact-us6,
.donate8,
.expenses5 {
  top: 3rem;
}
.contact-us6,
.donate8 {
  top: 4.5rem;
}
.contact-us6 {
  top: 6rem;
}
.nav-right2 {
  position: absolute;
  top: 1.57rem;
  left: 2.63rem;
  width: 0;
  height: 7.13rem;
  font-size: var(--font-size-mini);
  color: var(--color-navajowhite);
}
.quick-links-container {
  position: absolute;
  top: 0;
  left: 32.63rem;
  width: 13.25rem;
  height: 8.7rem;
  display: none;
  font-size: var(--font-size-lg);
}
.cdcikdchdkhcdkh2,
.vector-icon9 {
  position: absolute;
  top: 6.38rem;
  left: 0.31rem;
  width: 1.25rem;
  height: 0.69rem;
}
.cdcikdchdkhcdkh2 {
  text-decoration: none;
  top: 6.19rem;
  left: 4.19rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 8.88rem;
}
.vector-icon10 {
  position: absolute;
  top: 3.31rem;
  left: 0;
  width: 1.25rem;
  height: 0.81rem;
}
.a2 {
  text-decoration: none;
  position: absolute;
  top: 3.19rem;
  left: 4.25rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 9rem;
  height: 0.63rem;
}
.duydieyd2,
.vector-icon11 {
  position: absolute;
  height: 0.69rem;
}
.vector-icon11 {
  top: 0.38rem;
  left: 0;
  width: 1.25rem;
}
.duydieyd2 {
  text-decoration: none;
  top: 0;
  left: 4.44rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 5.63rem;
}
.vector-container {
  position: absolute;
  top: 0.38rem;
  left: 2.25rem;
  width: 22.13rem;
  height: 7.06rem;
  font-size: var(--font-size-mini);
}
.logo-parent3 {
  position: relative;
  width: 19.69rem;
  height: 7.81rem;
}
.copyright-zivotin2 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 700;
}
.copyright-zivotin-frame {
  align-self: stretch;
  background-color: var(--color-navajowhite);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-3xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
}
.footer3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 24.38rem;
  height: 15.19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-14xl);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
  width: 100%;
}
.footer-container {
  align-self: stretch;
  position: relative;
  height: 15.19rem;
}
.iphone-14-4 {
  background-color: var(--color-white);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-22xl);
  font-size: var(--font-size-base);
  width: 100%;
}
.navbar-item {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 24.75rem;
  width: 40.5rem;
  height: 5.25rem;
  object-fit: cover;
  z-index: 0;
}
.logo6 {
  position: relative;
  font-weight: 900;
  display: inline-block;
  width: 19.56rem;
  flex-shrink: 0;
}
.home-parent1 {
  width: 58.06rem;
  height: 2.44rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-68xl);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.vector-icon12 {
  position: relative;
  width: 1.37rem;
  height: 1.2rem;
  display: none;
}
.logo-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin-top: -4.69rem;
}
.contact-wrapper,
.navbar1 {
  display: flex;
  box-sizing: border-box;
}
.navbar1 {
  align-self: stretch;
  height: 5rem;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.contact-wrapper {
  position: absolute;
  top: 3.81rem;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 87.44rem;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-99xl) var(--padding-171xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.reez-two-muslim-gents-contacti-icon {
  position: absolute;
  height: 100%;
  width: 41.32%;
  top: 0;
  right: 5.07%;
  bottom: 0;
  left: 53.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hero1 {
  align-self: stretch;
  position: relative;
  height: 27.69rem;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
}
.if-you-are1 {
  position: relative;
  line-height: 2.5rem;
  font-weight: 600;
  display: inline-block;
  width: 52.44rem;
  flex-shrink: 0;
}
.if-you-are-interested-in-purch-container {
  align-self: stretch;
  background-color: var(--color-wheat);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-79xl) var(--padding-137xl);
  align-items: center;
  justify-content: center;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48.44rem;
  height: 30.75rem;
}
.say-hello-box-child2 {
  position: absolute;
  top: 14.79rem;
  left: 9.06rem;
  border-radius: var(--br-mid);
  width: 30.5rem;
  height: 7.17rem;
}
.comments {
  position: absolute;
  top: 15.7rem;
  left: calc(50% - 67.5px);
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 9.13rem;
  height: 0.91rem;
}
.rectangle-div {
  position: absolute;
  top: 22.34rem;
  left: 9.06rem;
  background-color: var(--color-navajowhite);
  border: 3px solid var(--color-navajowhite);
  box-sizing: border-box;
  width: 30.5rem;
  height: 3.93rem;
}
.send-message1 {
  position: absolute;
  top: 23.19rem;
  left: calc(50% - 94.5px);
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 12.44rem;
  height: 0.91rem;
}
.say-hello-box-child3 {
  position: absolute;
  top: 6.87rem;
  left: 8.94rem;
  border-radius: var(--br-mid);
  background-color: var(--color-wheat);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-wheat);
  box-sizing: border-box;
  width: 30.63rem;
  height: 2.68rem;
}
.your-name {
  position: absolute;
  top: 7.48rem;
  left: calc(50% - 69.5px);
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 9.31rem;
  height: 0.91rem;
}
.say-hello-box-child4 {
  position: absolute;
  top: 10.38rem;
  left: 8.88rem;
  border-radius: var(--br-mid);
  background-color: var(--color-wheat);
  border: 3px solid var(--color-wheat);
  box-sizing: border-box;
  width: 30.69rem;
  height: 3.64rem;
}
.your-email {
  position: absolute;
  top: 11.39rem;
  left: calc(50% - 65.5px);
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 8.81rem;
  height: 0.91rem;
}
.say-hello-box1 {
  position: absolute;
  top: 8.56rem;
  left: 0.03rem;
  width: 48.44rem;
  height: 30.75rem;
}
.call-or-whatsapp-9547455644-wrapper {
  position: absolute;
  top: 0;
  left: 0.34rem;
  background-color: var(--color-darkslategray);
  width: 48.44rem;
  height: 5.44rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.94rem;
  color: var(--color-navajowhite);
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 6.25rem;
  height: 6.25rem;
}
.or1 {
  position: absolute;
  top: 1.63rem;
  left: 1.34rem;
  text-transform: capitalize;
  font-weight: 500;
}
.ellipse-group {
  position: absolute;
  top: 3.88rem;
  left: calc(50% - 51.5px);
  width: 6.25rem;
  height: 6.25rem;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
}
.say-hello-box-parent {
  position: relative;
  width: 48.75rem;
  height: 40.5rem;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.logo7 {
  position: relative;
  line-height: 2.31rem;
  font-family: var(--font-roboto);
  color: var(--color-navajowhite);
  display: inline-block;
  width: 15.38rem;
  flex-shrink: 0;
}
.contact-us8,
.quick-links3,
.vision7 {
  position: absolute;
  letter-spacing: 0.05em;
  font-weight: 700;
}
.quick-links3 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 9.38rem;
}
.contact-us8,
.vision7 {
  text-decoration: none;
  color: inherit;
}
.vision7 {
  top: 1.5rem;
  left: 0;
}
.contact-us8 {
  top: 5.99rem;
  left: 0.02rem;
  text-align: left;
  display: inline-block;
  width: 10.19rem;
}
.nav-right3 {
  position: absolute;
  top: 1.57rem;
  left: 0;
  width: 0;
  height: 7.13rem;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-navajowhite);
}
.group-div {
  position: relative;
  width: 9.38rem;
  height: 8.7rem;
  text-align: left;
  font-size: var(--font-size-lg);
}
.vector-parent1 {
  position: relative;
  width: 14.63rem;
  height: 7.06rem;
  font-size: var(--font-size-mini);
}
.logo-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.copyright-zivotin-wrapper1,
.footer5 {
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
}
.copyright-zivotin-wrapper1 {
  background-color: var(--color-navajowhite);
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-395xl);
  justify-content: center;
  z-index: 0;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
}
.footer5 {
  background-color: var(--color-darkslategray);
  height: 14.69rem;
  padding: var(--padding-xl) 0;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.contact,
.footer4,
.footer5 {
  display: flex;
  flex-direction: column;
}
.footer4 {
  align-self: stretch;
  height: 14.69rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .home-container,
  .iphone-14-4,
  .vector-icon12,
  .vector-icon8 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .home-container,
  .iphone-14-4,
  .vector-icon8 {
    display: flex;
  }
  .home-parent1 {
    display: none;
  }
  .vector-icon12 {
    display: flex;
  }
  .footer4,
  .hero1,
  .if-you-are-interested-in-purch-container,
  .navbar1,
  .say-hello-box-parent {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .home-container {
    display: flex;
  }
  .navbar1 {
    display: none;
  }
}
